<div class="row">
  <div class="col-xl-4">
    <div class="card">
      <div class="card-header">
        <h3 class="text-center mt-3">
          Öğrenci Bilgileri
        </h3>
      </div>
      <div class="card-body text-center">
        <div class="mb-4">
          <%= image_tag('theme/user.jpg', style:'border-radius: 50%; max-height: 140px;' )%>
        </div>
        <div class="font-weight-bold">
          <%= @student.full_name %>
        </div>
        <p style="font-size: 1rem;">
          <% if @student.student_infos.any? %>
            <%= @student.student_infos.last.sinif %> | 
            <%= @student.student_infos.last.school_number %>
          <% else %>
            <%= link_to "Öğrenci Bilgileri Ekle", new_student_student_info_path(@student) %>
          <% end %>      
        </p>
      </div>
    </div>
  </div>
  <div class="col-xl-8">
    <div class="card">
      <div class="card-body">
        <h1 class="title">
          Öğrenci Bilgileri
        </h1>
      </div>
    </div> 
  </div>
</div>