<nav class="sidebar sidebar-offcanvas" id="sidebar">
  <ul class="nav">
    <li class="nav-item nav-profile">
      <div class="nav-link">
        <div class="user-wrapper">
          <div class="profile-image">
            <img src="http://www.bootstrapdash.com/demo/star-admin-free/jquery/images/faces/face1.jpg" alt="profile image">
          </div>
          <div class="text-wrapper">
            <p class="profile-name">Richard V.Welsh</p>
            <div>
              <small class="designation text-muted">Manager</small>
              <span class="status-indicator online"></span>
            </div>
          </div>
        </div>
        <%= link_to new_event_path, class:"btn btn-success btn-block" do%>
          New Event
          <i class="mdi mdi-plus"></i>
        <% end %>
      </div>
    </li>
    <li class="nav-item">
      <%= link_to events_path, class:'nav-link' do %>
        <i class="menu-icon mdi mdi-television"></i>
        <span class="menu-title">Dashboard</span>
      <% end %>
    </li>
    <li class="nav-item">
      <%= link_to students_path, class:'nav-link' do %>
        <i class="menu-icon mdi mdi-account-multiple-outline"></i>
        <span class="menu-title">Students</span>
      <% end %>
    </li>
    <li class="nav-item">
      <%= link_to rules_path, class:'nav-link' do %>
        <i class="menu-icon mdi mdi-gavel"></i>
        <span class="menu-title">Rules</span>
      <% end %>
    </li>
    <li class="nav-item">
      <%= link_to periods_path, class:'nav-link' do %>
        <i class="menu-icon mdi mdi-format-list-checkbox"></i>
        <span class="menu-title">Periods</span>
      <% end %>
    </li>
  </ul>
</nav>