<div class="row">
  <div class="col-lg-12 grid-margin">
    <div class="card">
      <div class="card-body">
        <h4 class="cad-title">Kurallar</h4>
        <% if @rules.any? %>
          <div class="table-responsive">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Item Number</th>
                  <th scope="col">Law</th>
                  <th scope="col">Action</th>
                </tr>
              </thead>
              <tbody>
                <% @rules.each do |rule| %>
                <tr>
                  <th scope="row"><%= rule.id %></th>
                  <td><%= rule.item_number %></td>
                  <td><%= truncate(rule.law, length:50) %></td>
                  <td>
                    <span class"icon">
                      <%= link_to edit_rule_path(rule), style:"text-decoration: none" do %>
                        <i class="mdi mdi- mdi-pencil"></i>
                      <% end %>
                    </span>
                    <span class"icon">
                      <%= link_to rule_path(rule), method: :delete, data: { confirm: 'Are you sure?'}, style:"text-decoration: none" do %>
                        <i class="mdi mdi-delete"></i>
                      <% end %>
                    </span> 
                  </td>
                </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        <% else %>
          <div class="card-body">
            <blockquote class="blockquote blockquote-danger">
              <p>Herhangi bir kural bulunamadı.</p>
              <footer class="blockquote-footer">Yeni bir tane eklemek için
                <cite title="Source Title"><%= link_to "tıklayınız", new_rule_path, style:"text-decoration:none;" %></cite>
              </footer>
            </blockquote>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<%= link_to 'New', new_rule_path, class: 'btn btn-primary'%>